Your hands
Fall on me
Your hands
Fall on me

Control
Control me
Control
Control me

Tell me now
Show me how
Tell me now
Show me how

Your hands
Fall on me
Your hands
Fall on me

Control
Control me
Control
Control me

Tell me now
Show me how
Tell me now
Show me how


_________________
Name      Control
Artist    Pleasure Symbols
Album     Pleasure Symbols
Track no  4
Year      2016
